*{
font-family: 'Encode Sans Semi Expanded', sans-serif;
font-family: 'Lato', sans-serif;
}




header .header-superior{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #16909E;
    justify-content: space-evenly;
}
header .header-superior a{
    color: #16909E;
    text-decoration: none;
}
header .header-superior .icono-contacto-header{
    color: #16909E;
    margin-right: 10px;
    font-size: 25px;
    width: 20px;
}
header .navbar{
    background-color: #ffffff;
}

header .nav-header{
    justify-content: center;
}
header .nav-header ul.navbar-nav {
    justify-content: space-around;
}
header .navbar-light .navbar-nav .nav-link {
    color: #253B6E;
}
header .navbar-light .navbar-nav .item .active{
    box-sizing: content-box;
    
}
header .navbar-light .navbar-nav .active{
    color: #253B6E;
    border: 1px solid #16909E;
    padding: 10px 20px;
    height: 20px;
    text-decoration: none;
    
}
header .navbar-light .navbar-nav .active>.nav-link {
    color: #253B6E;
    border: 1px solid #16909E;
}
header .navbar-light .navbar-nav .nav-link:hover {
    background-color: rgba(0,0,0,.05);
    transition: all 0.4s;
}

/*--------------------home seccion1 -----------------*/
.home-seccion1{
    position: relative;
}
.home-seccion1 .carrusel-home-seccion1{
    z-index: 20;
}
.home-seccion1 .carrusel-home-seccion1 .owl-nav{
    display: none;
}
.home-seccion1 .carrusel-home-seccion1 .owl-dots{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 52%;
    width: 15%;
}
.home-seccion1 .carrusel-home-seccion1 .owl-dots .owl-dot{
    background-color: #ffffff;
    height: 34%;
    padding: 5% !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.home-seccion1 .carrusel-home-seccion1 .owl-dots .owl-dot span{
    color: #253B6E;
    content: normal;
    /*background-color: inherit;
    width: auto;
    height: auto;*/
}
.home-seccion1 .carrusel-home-seccion1 .owl-dots .active{
    background-color: transparent;
}
.home-seccion1 .carrusel-home-seccion1 .owl-dots .active span{
    color: #ffffff;
    background-color: #ffffff;
}
.home-seccion1 .carrusel-home-seccion1 .item{
    min-width: 100%;
}
.home-seccion1 .carrusel-home-seccion1 .home-seccion1-banner1{
    background: transparent url('../img/home/sic-banner1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}
.home-seccion1 .carrusel-home-seccion1 .home-seccion1-banner2{
    background: transparent url('../img/home/sic-banner2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}
.home-seccion1 .carrusel-home-seccion1 .home-seccion1-banner3{
    background: transparent url('../img/home/sic-banner3.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}
.home-seccion1 .carrusel-home-seccion1 .home-seccion1-banner-fondo{
    height: 100%;
    width: 100%;
    padding: 20% 5% 20% 25%;
    background-color: rgba(24, 51, 36, 0.4);
}
.home-seccion1 .carrusel-home-seccion1 .home-seccion1-banner-fondo h4{
    text-align: left;
    letter-spacing: NaNpx;
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    font-family: 'Lato';
    font-weight: bold;
}
.home-seccion1 .carrusel-home-seccion1 .home-seccion1-banner-fondo h2{
    text-align: left;
    letter-spacing: NaNpx;
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 35px;
}
.home-seccion1 .carrusel-home-seccion1 .home-seccion1-banner-fondo h3{
    text-align: left;
    font: normal normal bold 26px/44px Lato;
    letter-spacing: 0px;
    color: #A3F6FF;
    text-shadow: 0px 3px 6px #00000048;
    opacity: 1;
    line-height: 26px;
}
.home-seccion1 .carrusel-home-seccion1 button:focus {
    outline: none;
}

.home-seccion1 .iconos-redes{
    position: absolute;
    height: 48%;
    width: 15%;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #EDF2F5;
    color: #142850;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.home-seccion1 .iconos-redes a {
    color: #142850;
    font-size: 30px;
}



/*--------------------home seccion2 -----------------*/
.home-seccion2{
    position: relative;
    padding: 30px 0 0;
    
}
.home-seccion2 .home-seccion2-caja-superior{
    background-color: #EDF2F5;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 40%;
}
.home-seccion2 .home-seccion2-titulo {
    color: #253B6E;
    background-image: url('../img/fonto-titulo.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 20px 0;
    display: block;
    font-size: 25px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    width: fit-content;
}

.home-seccion2 .carrusel-home-seccion2 {
    background-color: rgba(37, 59, 110, 0.9);
    position: absolute;
    right: 20%;
    top: 30%;
    bottom: 10px;
    width: 60%;
    padding: 10px;
}

.home-seccion2 .carrusel-home-seccion2 .owl-nav  {
    position: absolute;
    right: -40px;
    bottom: 40px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.home-seccion2 .carrusel-home-seccion2 .owl-nav button {
    font-size: 20px;
    border: 3px solid #00909E;
    /*transform: rotate(90deg);*/
    margin: 0;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 3px;
    height: 35px;
    width: 35px;
    font-size: 30px;
    line-height: 25px;
    color: #00909E;
}
.home-seccion2 .carrusel-home-seccion2 .owl-nav button:hover {
    background-color: #00909E;    
    color: #ffffff;
    transition: all .5s;
}
.home-seccion2 .carrusel-home-seccion2 .owl-nav .owl-prev span{
    vertical-align: middle;
}
.home-seccion2 .carrusel-home-seccion2 .owl-dots  {
    display: none;
}
.home-seccion2 .carrusel-home-seccion2 .item{
    flex-direction: column;
}
.home-seccion2 .carrusel-home-seccion2 h3{
    color: #ffffff;
    font-size: 22px;
    width: 100%;
    margin: 10px 0;
}
.home-seccion2 .carrusel-home-seccion2 p{
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 200px;
    overflow: auto;
}
.home-seccion2 .carrusel-home-seccion2 a{
    color: #ffffff;
    text-decoration: none;
    background-color: #00909E;
    padding: 10px 20px;
    font-size: 16px;
    
}


.home-seccion2 .home-seccion2-fondo{
    background-image: url('../img/home/seccion2.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 400px;
    width: 70%;
}
.home-seccion2 .home-seccion2-caja-inferior{
    background-color: #EDF2F5;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 35px;
    width: 30%;
}


/*--------------------home seccion3 -----------------*/

.home-seccion3{
    background-color: #EDF2F5;
    padding-top: 20px;
    padding-bottom: 30px;
}

.home-seccion3 .home-tab{
    flex-direction: column-reverse;
}
.home-seccion3-tab .nav-link {
    border-radius: 0px;
}
.home-seccion3-tab a{
    font-size: 10px;
    background-color: #ffffff;
    color: #253B6E;
    text-decoration: none;
    text-align: center;
    border-radius: 0px;
}
.home-seccion3-tab .nav-link.active, .nav-pills .show>.nav-link {
    color: #00909E;
    background-color: #EDF2F5;
}
.home-seccion3 .home-tab-iconoboton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.home-seccion3 .home-tab-iconoboton img{
    width: 30%; 
    margin-bottom: 15px;
} 
.home-seccion3 .home-tab-iconoboton a{
    padding: 10px 20px;
    background-color: #00909E;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
} 
.home-seccion3 .home-tab-contenido{
   padding: 0 30px;
} 
.home-seccion3 .home-tab-contenido h3{
    color: #253B6E;
    background-image: url('../img/fonto-titulo.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5px 0 5px;
    display: block;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    width: fit-content;
} 
.home-seccion3 .home-tab-contenido p{
    color: #253B6E;
    font-size: 12px;
}
/*---------------- home seccion4 ----------*/
.home-seccion4{
    position: relative;
    background-image: url('../img/home/fondo-seccion4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin-top: 50px;
}

.home-seccion4-fondo-contenido{
    margin: 20px 0;
}

.home-seccion4-fondo-contenido h2{
    color: #ffffff;
    background-image: url('../img/fonto-titulo-blanco.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5px 0 25px;
    display: block;
    font-size: 30px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    
}
.home-seccion4-fondo-contenido p{
    margin-top: 30px;
    color: #ffffff;
}
.home-seccion4-fondo-contenido p a{
    text-decoration: none;
    color: #00909E;
}



.home-seccion4-carrusel{
    padding: 0;
}

.home-seccion4-carrusel .item{

    border: #ffffff solid 5px;
}
.home-seccion4-carrusel .owl-nav{
    position: absolute;
    top: -120px;
    right: 10px;
    /*display: flex;
    flex-direction: column;*/
}
.home-seccion4-carrusel .owl-nav button {
    font-size: 20px;
    border: 3px solid #00909E !important;
    /*transform: rotate(90deg);*/
    margin: 0;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 3px;
    height: 35px;
    width: 35px;
    font-size: 30px !important;
    line-height: 25px !important;
    color: #00909E !important;
}

.home-seccion4-carrusel .owl-nav button:hover,
.home-seccion4-carrusel .owl-nav button:focus{
    background-color: #00909E !important;
    border: 3px solid #00909E !important;  
    color: #ffffff !important;
    transition: all .5s;
}
.home-seccion4-carrusel .owl-dots{
    display: none;
}


/*---------------- home seccion4 ----------*/
.home-seccion5{
    background-color: #EFF3F6;
    padding: 50px 0;
    position: relative;  
}
.home-seccion5-contenido {
    margin-bottom: 50px;
}
.home-seccion5-contenido h2{
    color: #253B6E;
    background-image: url('../img/fonto-titulo.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5px 0 25px;
    display: block;
    font-size: 30px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    width: fit-content;
}
.home-seccion5-contenido p{
    margin-top: 30px;
    color: #142850;
}
.carrusel-home-seccion5 .item{
    background-color: #ffffff;
    padding: 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #00909E  solid 3px;
}
.carrusel-home-seccion5 .item img{
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.31);
    
}
.carrusel-home-seccion5 .owl-nav button {
    font-size: 20px;
    border: 3px solid #00909E !important;
    /*transform: rotate(90deg);*/
    margin: 0;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 3px;
    height: 35px;
    width: 35px;
    font-size: 30px !important;
    line-height: 25px !important;
    background-color: #00909E !important;
    color: #ffffff !important;
}

.carrusel-home-seccion5 .owl-nav button:hover,
.carrusel-home-seccion5 .owl-nav button:focus{
    background-color: #ffffff !important;
    border: 3px solid #00909E !important;  
    color: #00909E !important;
    transition: all .5s;
}
.carrusel-home-seccion5 .owl-dots{
    display: none;
}

/*----------------footer-----------------------*/
footer{
    position: relative;
    padding: 0 10px;
}
.footer-contenedor{
    padding: 80px 0 0;
}
.footer-contenedor h4{
    color: #00909E;
    margin: 25px 0;
}
footer .footer-contactos {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
footer .footer-contactos i{
    font-size: 30px;
    text-align: center;
    color: #00909E;
    margin-right: 15px;
    width: 30px;
}
footer .footer-contactos a{
    text-decoration: none;
    color: #142850;
    font-size: 14px;
}
.footer-certificados{
    margin-bottom: 100px;
}
.footer-certificados img{
    width: 22%;
    height: 130px;
    padding-right: 15px;

}
.fondo-footer{
    background-image: url('../img/home/bg-form-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    mix-blend-mode: multiply;
    opacity: 0.9;
    position: absolute;
    right: 0;
    bottom: 5%;
    top: 65%;
    width: 100%;
}
.fondo-footer-desvanecido{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #100F4C;
    
    mix-blend-mode: multiply;
}
.form-footer{
    padding-top: 6px;
}
.form-footer h2{
    color: #ffffff;
    background-image: url('../img/fonto-titulo-blanco.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5px 0 25px;
    display: block;
    font-size: 30px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
   
    margin-bottom: 50px;
}
.form-footer input{
    height: 50px;
}
.form-footer textarea{
    height: 130px;
}
.form-footer input, .form-footer textarea{
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    border-radius: 0;
    border: none;
    padding: 10px;
    font-size: 14px;
}
.form-footer input::placeholder, .form-footer textarea::placeholder{
    color: #ffffff;
    font-size: 12px;
}
.form-footer input:focus, .form-footer textarea:focus{
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
}
.form-footer .form-check label{
    color: #ffffff;
    font-size: 14px;
}
.form-footer .form-check label a{
    text-decoration: none;
    color: #00909E;
}
.form-footer button{
    color: #ffffff;
    background-color: #00909E;
    padding: 20px 30px;
    border-radius: 0;
    margin: 30px 0;
}
.form-footer .form-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-footer .form-contacto .form-row,
.form-footer .form-contacto .form-group{
    width: 100%;
}
.logo-suwweb{
   padding: 0 0;
   justify-content: center;
   align-items: center;
   height: 40px;

}
.logo-suwweb a{
    text-decoration: none;
    color:#142850;
    height: 20px;
}
.logo-suwweb img{
    height: 100%;
    margin-left: 10px;
    
}

/*-----------------nosotros----------------*/
/*-----------------nosotros seccion 1----------------*/
.nosotros-seccion1{
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

}
.nosotros-seccion1 .nosotros-seccion1-banner{
    height: 250px;
    width: 85%;
    background-image: url('../img/home/sic-banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.nosotros-seccion1 .nosotros-seccion1-banner .nosotros-seccion1-banner-color{
    height: 100%;
    width: 100%;
    background-color: rgba(24, 51, 36, 0.4);
}
.nosotros-seccion1 .iconos-redes{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDF2F5;
    padding: 30px 0;

}
.nosotros-seccion1 .iconos-redes a {
    color: #142850;
    font-size: 30px;
}
.nosotros-seccion1-cajainferior {
    background-color: #EDF2F5;
    width: 50%;
    height: 20px;
}

/*-----------------nosotros seccion 2----------------*/
.nosotros-seccion2{
    position: relative;
    padding-top: 50px;
}
.nosotros-seccion2 .nosotros-seccion2-cajaizquierda{
    position: absolute;
    bottom: 0%;
    left: 0;
    height: 400px;
    width: 50%;
    background-color: #EDF2F5;
    display: none;
}

.nosotros-seccion2 .nosotros-seccion2-cajaderecha{
    position: absolute;
    top: -30px;
    bottom: 0;
    left: 65%;
    width: 15%;
    max-width: 170px;
    background-color: #00909E;
    padding: 20px 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    display: none;

}
.nosotros-seccion2 h2{
    color: #00909E;
    background-image: url('../img/fonto-titulo.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5px 0 25px;
    display: block;
    font-size: 30px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    width: fit-content;
    margin: 30px 0;
}
.nosotros-seccion2-contenedor{
    position: relative;
    background-color: #EDF2F5;
    padding: 50px 0;
    padding-left: 20px;
}
.nosotros-seccion2-contenedor p{
    overflow: auto;
    margin: 0;
    color: #142850;
    height: 300px;
    width: 80%;
    font-size: 16px;
    padding-bottom: 100px;
    padding-right: 10px;

}
.nosotros-seccion2-contenedor p::-webkit-scrollbar{
    width: 7px;
}
.nosotros-seccion2-contenedor p::-webkit-scrollbar-thumb{
    background-color: #00909E;
    border-radius: 30px;
}

.nosotros-seccion2-contenedor-desvanecido{
    position: absolute;
    bottom: 49px;
    width: 80%;
    height: 80px;
    background: rgb(237,242,245);
    background: linear-gradient(0deg, rgba(237,242,245,1) 0%, rgba(237,242,245,0.05926120448179273) 100%);
}
.nosotros-seccion2-imagen{
    margin: 30px 0;
}

/*-----------------nosotros seccion 3----------------*/
.nosotros-seccion3{
    background-image: url('../img/nosotros/banner-s3.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 100px 0;
}
.nosotros-seccion3-cajaizquierda{
    position: absolute;
    left: 0;
    top: 50%;
    width: 35%;
    height: 40%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;

}
.nosotros-seccion3-cajaizquierda img{
    width: 35%;
}
.nosotros-seccion3-cajaderecha{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #100F4C;
    opacity: 0.7;
    mix-blend-mode: multiply;
    
}

.carrusel-nosotros-seccion3 .owl-nav button {
    font-size: 20px;
    border: 3px solid #ffffff !important;
    /*transform: rotate(90deg);*/
    margin: 0;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 3px;
    height: 35px;
    width: 35px;
    font-size: 30px !important;
    line-height: 25px !important;
    background-color: transparent !important;
    color: #ffffff !important;
}

.carrusel-nosotros-seccion3 .owl-nav button:hover,
.carrusel-nosotros-seccion3 .owl-nav button:focus{
    background-color: transparent !important;
    border: 3px solid #00909E !important;  
    color: #00909E !important;
    transition: all .5s;
}
.carrusel-nosotros-seccion3 .owl-dots{
    display: none;
}



.carrusel-nosotros-seccion3-contenido{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 25px 10px;
}
.carrusel-nosotros-seccion3-contenido h2{
    color: #ffffff;
    text-align: right;
    background-image: url('../img/fonto-titulo-blanco.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5px 0 15px 20px;
    display: block;
    font-size: 30px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    width: fit-content;
    margin-bottom: 50px;
}
.carrusel-nosotros-seccion3-contenido p{
    color: #ffffff;
    text-align: right;
    overflow: auto;
    height: 350px;
    font-size: 23px;
    margin-bottom: 60px;
}
.carrusel-nosotros-seccion3-contenido a{
    text-decoration: none;
    color: #ffffff;
    background-color: #16909E;
    padding: 25px 15px;
    text-align: center;
}


/*-----------------nosotros seccion 4----------------*/
.nosotros-seccion4{
    position: relative;
}
.nosotros-seccion4 .fondo-footer {
    background-image: url(../img/home/bg-form-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    mix-blend-mode: multiply;
    opacity: 0.9;
    position: absolute;
    right: 0;
    bottom: 2%;
    top: 64%;
    width: 100%;
}
.nosotros-seccion4 .footer-certificados {
    margin-bottom: 100px;
    display: none;
}
.nosotros-seccion4 .footer-ubicacion {
    margin-bottom: 80px;
}

.nosotros-seccion4 .titulo-certificaciones{
    color: #253B6E;
    background-image: url('../img/fonto-titulo.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5px 20px 25px 0;
    display: block;
    font-size: 30px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    width: fit-content;
    margin: 30px 0;
}
.nosotros-seccion4 p{
    color: #253B6E;
    width: 85%;
}
.nosotros-seccion4 .cerficiaciones-img{
    width: 90%;
}
.nosotros-seccion4 .cerficiaciones-img img{
    width: 30%;
    padding-right: 20px;
}

.nosotros-seccion4 .titulo-descargables{
    color: #253B6E;
    background-image: url('../img/fonto-titulo.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5px 0px 25px 0;
    display: block;
    font-size: 26px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    width: fit-content;
    margin: 30px 0;
}
.nosotros-seccion4 .nosotros-descargables{
    display: flex;
    flex-direction: column;

}

.nosotros-seccion4 .nosotros-descargables a{
    color: #253B6E;
    text-decoration: none;
}
.nosotros-seccion4 .nosotros-descargables span{
    color: #16909E;
    margin-right: 10px;
    font-size: 30px;
}


/*-------------------servicios -----------------------*/
/*------------------servicios seccion1---------------*/
.servicios-seccion1-banner{
    background-image: url('../img/servicios/banner-s1.png') !important;
}
.servicios-seccion1-banner-color{
    background-color: transparent !important;
}

/*------------------servicios seccion2---------------*/
.servicios-seccion2{
    position: relative;
    padding: 0 10px;
}
.servicios-seccion2-banner{
    width: 50%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: -40px;
    background-image: url('../img/servicios/banner-s2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: none;
}
.servicioss2-contenedor-izq{
    position: absolute;
    bottom: 0;
    top: 30%;
    left: 0;
    width: 100%;
    background-color: #EDF2F5;
}

.carrusel-servicios-s2 .owl-dots{
    display: none;
}
.carrusel-servicios-s2>.owl-nav{
    position: absolute;
    display: none;
}

.carrusel-servicios-s2 .item h3{
    color: #253B6E;
    background-image: url('../img/fonto-titulo.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5px 30% 15px 0;
    display: block;
    font-size: 26px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    width: fit-content;
    margin: 30px 0;
}
.carrusel-servicios-s2 .item .servicios-seccion2-parrafo{
    color: #253B6E;
    width: 95%;
    height: 230px;
    overflow: auto;
    font-size: 18px;
    margin-bottom: 40px;
}
.carrusel-servicios-s2.fila2{
    background-color: #EDF2F5;
    max-width: 100%;
}
.carrusel-servicios-s2 .item h4{
    color: #16909E;
    margin-bottom: 20px;
}
.carrusel-servicios-s2 .item ul{
    list-style: none;
    padding: 0;
    height: 250px;
    overflow: auto;
    margin-bottom: 50px;
}
.carrusel-servicios-s2 .item ul::-webkit-scrollbar{
    width: 7px;
}
.carrusel-servicios-s2 .item ul::-webkit-scrollbar-thumb{
    background-color: #00909E;
    border-radius: 30px;
}
.carrusel-servicios-s2 .item ul li{
    color: #253B6E;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.carrusel-servicios-s2 .item ul li p{
    color: #253B6E;
    
    margin-bottom: 0;
    width: 90%;
    font-size: 18px;
}
.carrusel-servicios-s2 .item ul li::before{
    content: "";
    background-color: #16909E;
    width: 7px;
    height: 7px;
    display: block;
    margin-right: 10px !important;
}
.carrusel-servicios-s2 .item .servicios-s2-item-contenido .servicios-s2-item-contenido-parrafo{
    color: #253B6E;
    width: 100%;
    height: 80px;
    font-size: 16px;
    overflow: auto;
}
.carrusel-servicios-s2 .item .servicios-s2-item-contenido .servicios-s2-item-contenido-parrafo::-webkit-scrollbar{
    width: 7px;
}
.carrusel-servicios-s2 .item .servicios-s2-item-contenido .servicios-s2-item-contenido-parrafo::-webkit-scrollbar-thumb{
    background-color: #00909E;
    border-radius: 30px;
}
.carrusel-servicios-s2-imagenes{
    height: 100%;
}
.carrusel-servicios-s2-imagenes .item{
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carrusel-servicios-s2-img-1{
    background-image: url('../img/servicios/mecanico/mecanico-1.png');
}
.carrusel-servicios-s2-img-2{
    background-image: url('../img/servicios/mecanico/mecanico-2.png');
}
.carrusel-servicios-s2-img-3{
    background-image: url('../img/servicios/mecanico/mecanico-3.png');
}
.carrusel-servicios-s2-img-4{
    background-image: url('../img/servicios/civil/civil-1.png');
}
.carrusel-servicios-s2-img-5{
    background-image: url('../img/servicios/civil/civil-2.png');
}
.carrusel-servicios-s2-img-6{
    background-image: url('../img/servicios/civil/civil-3.png');
}
.carrusel-servicios-s2-img-7{
    background-image: url('../img/servicios/industrial/industrial-1.png');
}
.carrusel-servicios-s2-img-8{
    background-image: url('../img/servicios/industrial/industrial-2.png');
}
.carrusel-servicios-s2-img-9{
    background-image: url('../img/servicios/industrial/industrial-3.png');
}
.carrusel-servicios-s2-img-10{
    background-image: url('../img/servicios/electrica/electrica-1.png');
}
.carrusel-servicios-s2-img-11{
    background-image: url('../img/servicios/electrica/electrica-2.png');
}
.carrusel-servicios-s2-img-12{
    background-image: url('../img/servicios/electrica/electrica-3.png');
}
.carrusel-servicios-s2-img-13{
    background-image: url('../img/servicios/ensayo/ensayo-1.png');
}
.carrusel-servicios-s2-img-14{
    background-image: url('../img/servicios/ensayo/ensayo-2.png');
}
.carrusel-servicios-s2-img-15{
    background-image: url('../img/servicios/ensayo/ensayo-3.png');
}
.carrusel-servicios-s2-img-contenido{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 60% 0 0 10%;
}
.carrusel-servicios-s2-img-hover{
    display: none;
}

.carrusel-servicios-s2-imagenes .item:hover .carrusel-servicios-s2-img-hover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}
.carrusel-servicios-s2-imagenes .item:hover .carrusel-servicios-s2-img-hover a{
    color: #ffffff;
    
}
.carrusel-servicios-s2-img .owl-nav button {
    font-size: 20px;
    border: 3px solid #00909E !important;
    /*transform: rotate(90deg);*/
    margin: 2px !important;

    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 3px;
    height: 35px;
    width: 35px;
    font-size: 30px !important;
    line-height: 25px !important;
    background-color: #00909E !important;
    color: #ffffff !important;
}
.carrusel-servicios-s2-img .owl-nav button:hover,
.carrusel-servicios-s2.carrusel-servicios-s2-img{
    background-color: transparent !important;
    border: 3px solid #00909E !important;  
    color: #00909E !important;
    transition: all .5s;
}

.carrusel-servicios-s2-img .carrusel-servicios-s2-img-btn{
    color: #ffffff;
    background-color: #16909E;
    text-decoration: none;
    padding: 15px 25px;
}

/*------------------servicios seccion3---------------*/
.servicios-seccion3{
    background-color: #ffffff;
}


/*--------------------hseq---------------------------*/
/*--------------------hseq seccion 1---------------------------*/
.hseq-seccion1-banner{
    background-image: url('../img/hseq/banner-s1.png') !important;
}
.hseq-seccion1-banner-color{

}
/*--------------------hseq seccion 2---------------------------*/
.hseq-seccion2{
    position: relative;
}
.fondo-footer-hseq{
    background-image: url('../img/hseq/hseq-fondo.jpg') !important;
    
}
.fondo-hseq{
    position: absolute;
    bottom: 37%;
    left: 0;
    width: 100%;
    height: 33%;
    background-image: url('../img/hseq/banner-s2.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hseq-politica{
    margin: 50px 0 100px;
   
}
.hseq-politica h2{
    color: #16909E;
    background-image: url('../img/fonto-titulo.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5px 5% 15px 0;
    display: block;
    font-size: 26px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    width: fit-content;
    margin: 30px 0;
}
.hseq-politica p{
    width: 100%;
    color: #253B6E;
    font-size: 18px;
}
.hseq-iconos{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hseq-icono{
    
    align-items: center;
    margin-bottom: 40px;
}
.hseq-icono img{
    width: 20%;
    margin-right: 20px;
    margin-left: 20px;
}
.hseq-icono p{
    color: #ffffff;
    font-size: 12px;
    margin: 0;
}
.carrusel-hseq{
    margin-bottom: 50px;
}
.carrusel-hseq .owl-dots{
    display: none;
}
.carrusel-hseq .owl-nav button {
    font-size: 20px;
    border: 3px solid #00909E !important;
    /*transform: rotate(90deg);*/
    margin: 2px !important;

    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 3px;
    height: 35px;
    width: 35px;
    font-size: 30px !important;
    line-height: 25px !important;
    background-color: #00909E !important;
    color: #ffffff !important;
}

.carrusel-hseq .owl-nav button:hover,
.carrusel-hseq .owl-nav button:focus{
    background-color: transparent !important;
    border: 3px solid #00909E !important;  
    color: #00909E !important;
    transition: all .5s;
}
.carrusel-hseq-item-contenido{
    max-height: 280px;
    overflow: auto;
    width: 100%;
    padding-right: 10px;

}
.carrusel-hseq-item-contenido::-webkit-scrollbar{
    width: 7px;
}
.carrusel-hseq-item-contenido::-webkit-scrollbar-thumb{
    background-color: #16909E;
    border-radius: 30px;
}

.carrusel-hseq .item h2{
    color: #16909E;
    background-image: url('../img/fonto-titulo.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5px 0% 15px 0;
    display: block;
    font-size: 26px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    width: fit-content;
    margin: 30px 0;
}
.carrusel-hseq-item-contenido ul{
    list-style: none;
    
    padding: 0;
    color: #253B6E;
    font-size: 18px;
}
.carrusel-hseq-item-contenido ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.carrusel-hseq-item-contenido ul li::before{
    content: "";
    background-color: #16909E;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: block;
    padding: 5px;
    margin-right: 10px; 
}
.carrusel-hseq .item p{
    
    color: #253B6E;
    font-size: 18px;
}
.carrusel-hseq-imgs{
    margin-top: 100px;
    margin-bottom: 50px;
}
.carrusel-hseq-imgs .owl-nav{
    display: none;
}
.carrusel-hseq-imgs .owl-dots{
    display: none;
}
.carrusel-hseq-img{
    height: 270px;
    width: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: #16909E solid 5px;
}
.carrusel-hseq-img:hover,
.carrusel-hseq-img:focus{
    height: 400px;
    width: 400px;
    z-index: 400;
    transition: all .7s ease;
}


.carrusel-hseq-img1{
    background-image: url('../img/hseq/carrusel/img-1.jpg');
}
.carrusel-hseq-img2{
    background-image: url('../img/hseq/carrusel/img-2.png');
}
.carrusel-hseq-img3{
    background-image: url('../img/hseq/carrusel/img-3.png');
}
.carrusel-hseq-img4{
    background-image: url('../img/hseq/carrusel/img-4.png');
}


/*---------------------contacto-------------------*/
/*---------------------contacto seccion1--------------*/
.contacto-seccion1-banner{
    background-image: url('../img/contacto/banner-s1.png') !important;
}
.contacto-seccion1-banner-color{
    background-color: rgba(24, 51, 36, 0.2) !important;
}
/*---------------------contacto seccion2--------------*/
.contacto-seecion2{
    position: relative;
}
.contacto-seecion2 .footer-certificados {
    margin-bottom: 30px;
}  

.contacto-seecion2 .footer-contenedor{
    padding: 30px 0 0;
}
.contacto-seecion2-fondo{
    background-image: url('../img/contacto/banner-s2.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 32%;
    left: 0%;
    width: 100%;
    height: 23%;
}
.contacto-seecion2 .form-footer{
    display: none;
}

.contacto-seecion2-titulo{
    color: #142850;
    background-image: url('../img/fonto-titulo-azul.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5px 15% 15px 0;
    display: block;
    font-size: 26px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    width: fit-content;
    margin: 30px 0;
}
.form-contacto{
    margin-bottom: 40px;
}
.form-contacto input,
.form-contacto textarea{
    color: #142850;
    border: #142850 solid 2px;
    padding: 40px 10px;
}
.form-contacto input::placeholder,
.form-contacto textarea::placeholder{
    color: #142850;
    
}
.form-contacto .form-group a{
    text-decoration: none;
    color: #16909E;
}
.form-contacto .btn-enviar {
    color: #ffffff;
    background-color: #16909E;
    padding: 20px 30px;
    margin: auto;
    position: relative;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.correos-contactos{
    color: #ffffff;
    margin-bottom: 100px;
}

.correos-contactos span{
    font-size: 18px;
    margin-right: 10px;
}
.correo-contacto-icono{
    font-size: 40px !important;
}
.correos-contactos a{
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
}
.correo-contacto{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}


/*------------------------ tratamiento de datos---------------------*/
.terminos{
    padding: 50px 0 50px;
    position: relative;
    background-color: #EDF2F5;
    min-height: 100vh;
}

.terminos-contenido{
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    flex-direction: column;
}
.terminos-contenido h2{
    color: #142850;
    background-image: url('../img/fonto-titulo-azul.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5px 15% 15px 0;
    display: block;
    font-size: 35px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    width: fit-content;
    margin: 30px 0;
}
.terminos-contenido p{
    color: #142850;
    font-size: 18px;
    margin-bottom: 50px;
}
.terminos-contenido a{
    color: #ffffff;
    text-decoration: none;
    background-color: #16909E;
    font-size: 18px;
    padding: 20px 40px;
}

@media (max-width: 325px) {
    /*---------------header-------------------*/
    header a.navbar-brand {
        width: 70%;
    }
    /*--------------------home seccion1 -----------------*/
    .home-seccion1 .carrusel-home-seccion1 .home-seccion1-banner-fondo{
        height: 100%;
        width: 100%;
        padding: 15% 5% 10% 30%;
        background-color: rgba(24, 51, 36, 0.4);
    } 
    /*--------------------home seccion2 -----------------*/
    .home-seccion2 .home-seccion2-caja-superior{
        width: 60%;
    }
    .home-seccion2 .carrusel-home-seccion2 h3{
        font-size: 16px;
        width: 100%;
        margin: 10px 0;
    }
    .home-seccion2 .carrusel-home-seccion2 p{
        font-size: 12px;
        width: 100%;
        height: 200px;
        overflow: auto;
    }
    .home-seccion2 .carrusel-home-seccion2 a{
        text-decoration: none;
        padding: 10px 20px;
        font-size: 16px;
        
    }
    /*---------------- home seccion4 ----------*/
    .home-seccion4{
        background-size: cover;
        background-position: left;
      
    }
    .home-seccion4-carrusel .owl-nav{
        position: relative;
        top: inherit;
        right: inherit;
    }
    /*---------------footer------------------*/
    .footer-certificados img{
        width: 30%;
        height: 130px;
        padding-right: 15px;
    
    }
    /*---------------servicios seccion 2------------------*/
    
    .carrusel-servicios-s2 .item .servicios-seccion2-parrafo{
        height: 300px;
        margin-bottom: 40px;
    }
    .carrusel-servicios-s2 .item .servicios-s2-item-contenido .servicios-s2-item-contenido-parrafo{
        height: 155px;
    }
   
    .servicioss2-contenedor-izq{
        top: 30%;
        left: 0;
        
    }
    /*--------------------hseq seccion 2---------------------------*/
    .fondo-hseq{
        position: absolute;
        top: 33%;
        left: 0;
        width: 100%;
        height: 27%;
    }
    .hseq-politica {
        margin: 50px 0 50px;
    }
    .carrusel-hseq-imgs{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .carrusel-hseq-img{
        height: 220px;
        width: 250px;

    }
    .carrusel-hseq-img:hover,
    .carrusel-hseq-img:focus{
        height: 220px;
        width: 250px;
    }
    /*---------------------contacto seccion2--------------*/

    .contacto-seecion2-fondo{
        top: 36%;
        left: 0%;
        width: 100%;
        height: 27%;
    }
}

@media (max-width: 378px){
    .fondo-hseq {
        position: absolute;
        top: inherit;
        bottom: 39%;
        left: 0;
        height: 27%;
    }
    /*---------------------contacto seccion2--------------*/

    .contacto-seecion2-fondo{
        top: 33%;
        height: 25%;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    /*--------------------home seccion2 -----------------*/
    .home-seccion2 .carrusel-home-seccion2 {
        width: 50%;
        padding: 20px;
    }
    
    /*--------------------home seccion3 -----------------*/

    .home-seccion3-tab a{
        font-size: 14px;
    }
    .home-seccion3-tab .nav-link.active, .nav-pills .show>.nav-link {
        color: #00909E;
        background-color: #EDF2F5;
    }
    .home-seccion3 .home-tab-iconoboton img{
        width: 30%; 
        margin-bottom: 15px;
    } 
    .home-seccion3 .home-tab-iconoboton a{
        font-size: 14px;
    } 
    .home-seccion3 .home-tab-contenido{
        padding: 0 20px;
    } 
    .home-seccion3 .home-tab-contenido h3{
        font-size: 20px;
    } 
    .home-seccion3 .home-tab-contenido p{
        color: #253B6E;
        font-size: 16px;
    }
    /*---------------- home seccion4 ----------*/
    .home-seccion4{
        background-size: contain;
        background-position: left;
      
    }
    /*-----------------nosotros seccion 3----------------*/
    .nosotros-seccion3{
        padding: 50px 0;
    }
    .carrusel-nosotros-seccion3-contenido p{
        color: #ffffff;
        text-align: right;
        overflow: auto;
        height: 250px;
        font-size: 23px;
        margin-bottom: 60px;
    }
    /*---------------servicios seccion 2------------------*/
    .servicioss2-contenedor-izq{
        top: 25%;
    }
    .carrusel-servicios-s2 .item .servicios-seccion2-parrafo{
        height: 200px;
        margin-bottom: 40px;
    }
    /*---------------------contacto seccion2--------------*/

    .contacto-seecion2-fondo{
        top: 31%;
        height: 20%;
    }
}
@media (max-width: 767px){
    .fondo-footer-hseq {
        bottom: 1%;
        top: 82%;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    /*--------------------home seccion1 -----------------*/
    .home-seccion1 .carrusel-home-seccion1 .home-seccion1-banner-fondo{
        padding: 25% 5% 25% 15%;
    }
    .home-seccion1 .carrusel-home-seccion1 .home-seccion1-banner-fondo h2{
        text-align: left;
        font-size: 40px;
        font-family: 'Lato';
        font-weight: bold;
        font-size: 50px;
        max-width: 60%;
    }
    .home-seccion1 .carrusel-home-seccion1 .home-seccion1-banner-fondo h3{
        font: normal normal bold 32px/44px Lato;
        line-height: 32px;
    }
    .home-seccion1 .carrusel-home-seccion1 .owl-dots{
        width: 11%;
    }
    .home-seccion1 .iconos-redes{
        width: 11%;
    }
    /*--------------------home seccion2 -----------------*/
    .home-seccion2 .home-seccion2-titulo {
        font-size: 30px;
    }
    .home-seccion2 .carrusel-home-seccion2 {
        width: 35%;
        padding: 20px;
        right: 15%;
        top: 0%;
        bottom: 10px;
    }
    .home-seccion2 .carrusel-home-seccion2 h3{
        color: #ffffff;
        font-size: 25px;
        width: 100%;
        margin: 30px 0 40px;
    }
    .home-seccion2 .carrusel-home-seccion2 p{
        color: #ffffff;
        font-size: 16px;
        width: 100%;
        height: 280px;
        overflow: auto;
    }
    .home-seccion2 .carrusel-home-seccion2 a{
        color: #ffffff;
        text-decoration: none;
        background-color: #00909E;
        padding: 15px 25px;
        font-size: 16px;
        
    }
     /*--------------footer---------------*/

    .fondo-footer{
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0%;
        width: 35%;
    }
    .form-footer{
        padding: 50px 0;
    }
    
    .footer-certificados img{
        width: 33%;
        height: 120px;
        padding-right: 15px;
    
    }
    /*-----------------nosotros----------------*/

    .nosotros-seccion1 .nosotros-seccion1-banner{
        height: 300px;
        width: 90%;
    }
    .nosotros-seccion1 .iconos-redes{
        width: 10%;


    }
    .nosotros-seccion1 .iconos-redes a {
        color: #142850;
        font-size: 32px;
    }
    .nosotros-seccion1-cajainferior {
        background-color: #EDF2F5;
        width: 50%;
        height: 30px;
    }
    /*-----------------nosotros seccion 2----------------*/
    .nosotros-seccion2{
        position: relative;
        padding-top: 50px;
    }
    .nosotros-seccion2 .nosotros-seccion2-cajaizquierda{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 400px;
        width: 50%;
        background-color: #EDF2F5;
        display: flex;
    }

    .nosotros-seccion2 .nosotros-seccion2-cajaderecha{
        position: absolute;
        top: -30px;
        bottom: 0;
        left: 65%;
        width: 15%;
        background-color: #00909E;
        padding: 20px 10px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .nosotros-seccion2 h2{
        color: #00909E;
        background-image: url('../img/fonto-titulo.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 5px 0 25px;
        display: block;
        font-size: 30px;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        width: fit-content;
        margin: 30px 0;
    }
    .nosotros-seccion2-contenedor{
        position: relative;
        background-color: #EDF2F5;
        padding: 50px 0;
    }
    .nosotros-seccion2-contenedor p{
        overflow: auto;
        margin: 0;
        color: #142850;
        height: 300px;
        width: 80%;
        font-size: 16px;
        padding-bottom: 100px;

    }
    /*-----------------nosotros seccion 3----------------*/
    .nosotros-seccion3{
        background-image: url('../img/nosotros/banner-s3.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        padding: 100px 0;
    }
    .nosotros-seccion3-cajaizquierda{
        position: absolute;
        left: 0;
        top: 50%;
        width: 35%;
        height: 40%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);

    }
    .nosotros-seccion3-cajaizquierda img{
        width: 35%;
    }
    .nosotros-seccion3-cajaderecha{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50%;
        background-color: #100F4C;
        opacity: 0.7;
        mix-blend-mode: multiply;
        
    }
    .carrusel-nosotros-seccion3 .owl-nav{
        position: absolute;
        right: -10%;
        bottom: 30%;
        display: flex;
        flex-direction: column;
    }
    .carrusel-nosotros-seccion3 .owl-nav button {
        font-size: 20px;
        border: 3px solid #ffffff !important;
        /*transform: rotate(90deg);*/
        margin: 0;
        margin-bottom: 2px;
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 3px;
        height: 35px;
        width: 35px;
        font-size: 30px !important;
        line-height: 25px !important;
        background-color: transparent !important;
        color: #ffffff !important;
    }

    .carrusel-nosotros-seccion3 .owl-nav button:hover,
    .carrusel-nosotros-seccion3 .owl-nav button:focus{
        background-color: transparent !important;
        border: 3px solid #00909E !important;  
        color: #00909E !important;
        transition: all .5s;
    }
    .carrusel-nosotros-seccion3 .owl-dots{
        display: none;
    }



    .carrusel-nosotros-seccion3-contenido{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 25px 10px;
    }
    .carrusel-nosotros-seccion3-contenido h2{
        color: #ffffff;
        text-align: right;
        background-image: url('../img/fonto-titulo-blanco.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 5px 0 15px 20px;
        display: block;
        font-size: 30px;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        width: fit-content;
        margin-bottom: 50px;
    }
    .carrusel-nosotros-seccion3-contenido p{
        color: #ffffff;
        text-align: right;
        overflow: auto;
        height: 350px;
        font-size: 23px;
    }
    .carrusel-nosotros-seccion3-contenido a{
        text-decoration: none;
        color: #ffffff;
        background-color: #16909E;
        padding: 25px 15px;
        text-align: center;
    }
    /*-----------------nosotros seccion 4----------------*/
    
    .nosotros-seccion4 p{
        color: #253B6E;
        width: 50%;
    }
    .nosotros-seccion4 .fondo-footer{
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0%;
        width: 35%;
    }
    .nosotros-seccion4 .footer-certificados {
        margin-bottom: 100px;
        display: block;
    }
    .nosotros-seccion4 .cerficiaciones-img{
        width: 50%;
    }
    .nosotros-seccion4 .cerficiaciones-img img{
        width: 30%;
    }
    .descargables, .nosotros-seccion4-certificaciones{
        padding: 0;
    }
    .nosotros-seccion4 .titulo-descargables{
        color: #ffffff;
        background-image: url('../img/fonto-titulo-blanco.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 5px 0px 25px 0;
        display: block;
        font-size: 26px;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        width: fit-content;
        margin: 30px 0;
    }
    .nosotros-seccion4 .nosotros-descargables{
        display: flex;
        flex-direction: column;

    }

    .nosotros-seccion4 .nosotros-descargables a{
        color: #ffffff;
        text-decoration: none;
    }
    .nosotros-seccion4 .nosotros-descargables span{
        color: #16909E;
        margin-right: 10px;
        font-size: 30px;
    }

    /*------------------servicios seccion2---------------*/
    .servicios-seccion2{
        position: relative;
        padding: 0 10px;
    }
    .servicios-seccion2-banner{
        width: 50%;
        height: 80%;
        position: absolute;
        left: 50%;
        top: -30px;
        background-image: url('../img/servicios/banner-s2.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: block;
    }
    .servicioss2-contenedor-izq{
        position: absolute;
        bottom: 0;
        top: 45%;
        left: 0;
        width: 50%;
    }

    .carrusel-servicios-s2>.owl-nav{
        display: flex;
        flex-direction: column;
        top: 30%;
        left: 43%;
    }
    .carrusel-servicios-s2 .owl-nav button {
        font-size: 20px;
        border: 3px solid #00909E !important;
        /*transform: rotate(90deg);*/
        margin: 2px !important;

        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 3px;
        height: 35px;
        width: 35px;
        font-size: 30px !important;
        line-height: 25px !important;
        background-color: #00909E !important;
        color: #ffffff !important;
    }
    
    .carrusel-servicios-s2 .owl-nav button:hover,
    .carrusel-servicios-s2 .owl-nav button:focus{
        background-color: transparent !important;
        border: 3px solid #00909E !important;  
        color: #00909E !important;
        transition: all .5s;
    }

    .carrusel-servicios-s2 .item .servicios-seccion2-parrafo{
        width: 80%;
        height: 300px;
        overflow: auto;
        font-size: 18px;
    }
    .carrusel-servicios-s2 .item ul{
        list-style: none;
        padding: 0;
        height: 300px;
        overflow: auto;
    }
    .carrusel-servicios-s2 .item ul li{
        margin-bottom: 10px;
    }
    .carrusel-servicios-s2 .item ul li p{
        margin-bottom: 0;
        width: 90%;
        font-size: 18px;
    }
    /*--------------------hseq seccion 2---------------------------*/
    .fondo-hseq{
        position: absolute;
        top: 18%;
        left: 0;
        width: 55%;
        height: 600px;
        background-image: url('../img/hseq/banner-s2.png');

    }
    .hseq-politica p{
        width: 85%;
    }
    

    .carrusel-hseq .item h2{
        color: #ffffff;
        background-image: url('../img/fonto-titulo-blanco.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 5px 0% 15px 0;
        display: block;
        font-size: 26px;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        width: 50%;
        margin: 30px 0;
    }
    .carrusel-hseq{

        width: 70%;
    }
    .carrusel-hseq .item p{
        
        color: #ffffff;
        font-size: 18px;
    }
    .carrusel-hseq-item-contenido ul{
        color: #ffffff;
        
        
    }

    .carrusel-hseq-imgs{
        width: 80%;
    }
    
    /*---------------------contacto seccion2--------------*/

    .contacto-seecion2-fondo{
    
        top: -3%;
        left: 50%;
        width: 50%;
        height: 50%;
    }
    .mapa{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 33%;
        height: 35%;
    }


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /*--------------------home seccion1 -----------------*/
    .home-seccion1 .carrusel-home-seccion1 .home-seccion1-banner-fondo{
        padding: 10% 5% 10% 15%;
    }
    
    .home-seccion1 .carrusel-home-seccion1 .home-seccion1-banner-fondo h2{
        text-align: left;
        font-size: 40px;
        font-family: 'Lato';
        font-weight: bold;
        font-size: 60px;
        max-width: 50%;
    }
    .home-seccion1 .carrusel-home-seccion1 .owl-dots{
        width: 5%;
    }
    .home-seccion1 .iconos-redes{
        width: 5%;
    }
    /*--------------------home seccion2 -----------------*/
    .home-seccion2 .home-seccion2-titulo {
        font-size: 35px;
    }
    .home-seccion2 .carrusel-home-seccion2 {
        width: 35%;
        padding: 20px;
        right: 15%;
        top: 0%;
        bottom: 10px;
    }
    .home-seccion2 .carrusel-home-seccion2 h3{
        color: #ffffff;
        font-size: 30px;
        width: 100%;
        margin: 40px 0 50px;
    }
    .home-seccion2 .carrusel-home-seccion2 p{
        color: #ffffff;
        font-size: 18px;
        width: 100%;
        height: inherit;
        overflow: auto;
        margin-bottom: 40px;
    }
    .home-seccion2 .carrusel-home-seccion2 a{
        color: #ffffff;
        text-decoration: none;
        background-color: #00909E;
        padding: 20px 30px;
        font-size: 18px;
        
    }
    
    /*--------------------home seccion3 -----------------*/
    .home-seccion3 .home-tab{
        flex-direction: row;
    }

    .home-seccion3-tab a{
        font-size: 14px;
    }
    .home-seccion3-tab .nav-link.active, .nav-pills .show>.nav-link {
        color: #00909E;
        background-color: #EDF2F5;
    }
    .home-seccion3 .home-tab-iconoboton img{
        width: 70%; 
        margin-bottom: 15px;
    } 
    .home-seccion3 .home-tab-iconoboton a{
        font-size: 14px;
    } 
    .home-seccion3 .home-tab-contenido{
        padding: 0 20px;
    } 
    .home-seccion3 .home-tab-contenido h3{
        font-size: 30px;
    } 
    .home-seccion3 .home-tab-contenido p{
        color: #253B6E;
        font-size: 18px;
        width: 75%;
        margin-top: 20px;
    } 
    /*---------------footer------------------*/
    .footer-certificados img{
        width: 27%;
        height: 120px;
        padding-right: 15px;
    
    }
    /*-----------------nosotros----------------*/

    .nosotros-seccion1 .nosotros-seccion1-banner{
        height: 320px;
        width: 90%;
    }
    .nosotros-seccion1 .iconos-redes{
        width: 10%;


    }
    .nosotros-seccion1 .iconos-redes a {
        color: #142850;
        font-size: 34px;
    }
    .nosotros-seccion1-cajainferior {
        background-color: #EDF2F5;
        width: 50%;
        height: 40px;
    }
    /*-----------------nosotros seccion 2----------------*/
    .nosotros-seccion2 .nosotros-seccion2-cajaderecha{
        top: -40px;
    }
    /*------------------servicios seccion2---------------*/
   
    .servicios-seccion2-banner{
        top: -40px;

    }
    /*--------------------hseq seccion 2---------------------------*/
    
    .carrusel-hseq .owl-nav{
        position: absolute;
        top: 70%;
        left: 78%;   
    }
    .carrusel-hseq{

        width: 98%;
    }
    .carrusel-hseq-item-contenido {
        width: 70%;  
    }
    .correos-contactos{
        padding-left: 50px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    /*--------------------home seccion2 -----------------*/
    .home-seccion2 .home-seccion2-titulo {
        font-size: 35px;
    }
    .home-seccion2 .carrusel-home-seccion2 {
        width: 25%;
        padding: 20px;
        right: 15%;
        top: 0%;
        bottom: 10px;
    }
    .home-seccion2 .carrusel-home-seccion2 h3{
        color: #ffffff;
        font-size: 30px;
        width: 100%;
        margin: 40px 0 50px;
    }
    .home-seccion2 .carrusel-home-seccion2 p{
        color: #ffffff;
        font-size: 18px;
        width: 100%;
        height: inherit;
        overflow: auto;
        margin-bottom: 40px;
        width: 80%;
    }
    .home-seccion2 .carrusel-home-seccion2 a{
        color: #ffffff;
        text-decoration: none;
        background-color: #00909E;
        padding: 20px 30px;
        font-size: 18px;
        
    }
    .home-seccion2 .home-seccion2-fondo{
        height: 600px;
        width: 70%;
    }

    /*---------------footer------------------*/
    .footer-certificados img{
        width: 27%;
        height: 130px;
        padding-right: 15px;
    
    }
    /*-----------------nosotros----------------*/

    .nosotros-seccion1 .nosotros-seccion1-banner{
        height: 350px;
        width: 95%;
    }
    .nosotros-seccion1 .iconos-redes{
        width: 5%;


    }
    .nosotros-seccion1 .iconos-redes a {
        color: #142850;
        font-size: 34px;
    }
    .nosotros-seccion1-cajainferior {
        background-color: #EDF2F5;
        width: 50%;
        height: 40px;
    }

    /*-----------------servicios seccion2---------------*/
    .servicioss2-contenedor-izq{
        top: 42%;
        left: 0;
        width: 50%;
    }

    /*--------------------hseq seccion 2---------------------------*/
    
    .carrusel-hseq .owl-nav{
        left: 80%;   
    }

    /*-----------------constacto seccion 2------------------------------*/
    .mapa{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 33%;
        height: 40%;
    }
}
@media (min-width: 1800px) {
    /*--------------------footer -----------------*/
    .fondo-footer{
        width: 39%;
    }
    /*---------------nosotros seccion 4*/
    .nosotros-seccion4 .fondo-footer{
        width: 39%;
    }
    /*--------------------hseq seccion 2---------------------------*/
    
    .carrusel-hseq .owl-nav{
        position: absolute;
        top: 70%;
        left: 82%;   
    }
    
}